* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-container {
  min-height: 100vh;
}
header a {
  color: #fff;
  text-decoration: none;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: hsl(283, 87%, 41%);
  border: 0.15rem solid hsl(283, 87%, 41%);
}
.btn-primary:hover {
  background-color: transparent;
  color: hsl(283, 87%, 41%);
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rating span {
  color: #ff8800;
}
.rating span:last-child {
  color: #000;
  margin-left: 1rem;
}
.product.card {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .product.card {
    width: 100%;
  }
}
.product img {
  height: 410px;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid hsl(283, 87%, 41%);
  color: hsl(283, 87%, 41%);
}
